html, body {
    margin: 0 !important;
    padding: 10px !important;
}

body {
	background-color: #009999;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 25px;
	padding-left: 25px;
}

h {
	font-size: 50px;
	font-weight: bolder;
}

a {
	color: #aaaaaa;
}

button {
	font-weight: normal;
	padding: 5px;
	font-family: Arial, FreeSans;
	background-color: white;
    color: #000080;
}

#draw_contain {
	position: relative;
}

#draw {
   position: absolute;
   z-index: -1;
}

.draw_input_elem {
	font-size: clamp(20px, 35px, 70px);
    position: absolute;
	font-family: Arial, FreeSans;
	text-align: center;
}
.draw_input_elem_small {
	font-size: clamp(10px, 25px, 50px);
	position: absolute;
	font-family: Arial, FreeSans;
	text-align: center;
	padding: 1px;
}
.draw_input_elem_vsmall {
	font-size: clamp(5px, 10px, 20px);
	font-weight: bold;
	/* readability */
	position: absolute;
	font-family: Arial, FreeSans;
	text-align: center;
	padding: 1px;
}
.draw_input_elem_arrow {
	position: absolute;
	opacity: 0;
	/* display: none and visibility: hidden make element stop working!!! */
}
.draw_input_elem_pause {
	position: absolute;
	opacity: 0;
}
.draw_input_elem_npc {
	position: absolute;
	opacity: 0;
}