html, body {
    margin: 0 !important;
    padding: 10px !important;
}

body {
	background-color: #009999;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 25px;
	padding-left: 25px;
}

h {
	font-size: 50px;
	font-weight: bolder;
}

button {
	font-size: 35px;
	font-weight: normal;
	padding: 5px;
	font-family: Arial, FreeSans;
	background-color: white;
    color: #000080;
}

#draw_contain {
	position: relative;
}

#draw {
   position: absolute;
   z-index: -1;
}

.draw_input_elem {
    position: absolute;
	font-family: Arial, FreeSans;
	text-align: center;
}