html, body {
    margin: 0 !important;
    padding: 10px !important;
}

body {
	background-color: #009999;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 25px;
	padding-left: 25px;
}

h {
	font-size: 50px;
	font-weight: bolder;
}

button {
	font-weight: normal;
	padding: 5px;
	font-family: Arial, FreeSans;
	background-color: white;
    color: #000080;
}

#draw_contain {
	position: relative;
}

#draw {
   position: absolute;
   z-index: -1;
}

.draw_input_elem {
	font-size: 35px;
    position: absolute;
	font-family: Arial, FreeSans;
	text-align: center;
}
.draw_input_elem_small {
	font-size: 25px;
	position: absolute;
	font-family: Arial, FreeSans;
	text-align: center;
	padding: 1px;
}
.draw_input_elem_arrow {
	position: absolute;
	opacity: 0; /* display: none and visibility: hidden make element stop working!!! */
}
.draw_input_elem_pause {
	position: absolute;
	opacity: 0;
}